html {
  margin: 0;
  padding: 0;
}

.general {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main {
  max-width: 700px;
  margin: 50px auto;
  margin-bottom: 10px;
  background: #fff;
  padding: 40px 20px;
  border: 1px solid #aeccc6;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.card-text {
  font-size: 48px;
}

#description {
  opacity: 0.6;
}

.temperature-box {
  display: flex;
}

.temperature {
  min-width: 55px;
  font-size: 40px;
}

.units {
  font-size: 40px;
}

.header__img img {
  padding: 0 50px;
}

.details {
  align-self: center;
  min-width: 150px;
}

.input {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.input-city {
  margin-right: 10px;
}

.submit_btn {
  margin-right: 15px;
}

.flex {
  display: flex;
  justify-content: center;
}

.forecast {
  font-size: 14px;
  text-align: center;
}

.forecast img {
  width: 60px;
  height: 60px;
}

.temp-min {
  opacity: 0.6;
  margin-right: 10px;
}
